@font-face {
  font-family: 'Camaufalge';
  src: local('Camaufalge'), url(./assets/Camaufalge.otf) format('opentype');
}

@font-face {
  font-family: 'Helvetica';
  src: local('Helvetica'), url(./assets/Helvetica.otf) format('opentype');
}
